<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Authentication</title>
    <link href="/styles/create.css" rel="stylesheet">
    <link href="/styles/auth.css" rel="stylesheet">
</head>
<body>


<div class="form_card">
    <div class="form_name">Registration</div>

  <form th:method="POST" th:action="@{/users/register}" th:object="${user}" id="reg_form">

    <div class="input_container">
      <div class="error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
      <label for="name">Name: </label>
      <input class="input_field" type="text" name="name" id="name" th:field="*{name}">
    </div>

    <div class="input_container">
      <div class="error" th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}"></div>
      <label for="surname">Surname: </label>
      <input class="input_field" type="text" name="surname" id="surname" th:field="*{surname}">
    </div>

    <div class="input_container">
      <div class="error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
      <label for="email">Email: </label>
      <input class="input_field" type="text" name="email" id="email" th:field="*{email}">
    </div>

      <div class="input_container">
          <div class="error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
          <label for="reg_password">Password: </label>
          <input class="input_field" type="password" name="password" id="reg_password" th:field="*{password}">
      </div>

    <a th:href="@{/login}" class="to_other_form">Already have an account? Login</a>

    <input type="submit" class="submit_button" value="Register" >

  </form>
</div>


</body>
</html>