<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>login</title>
  <link href="/styles/create.css" rel="stylesheet">
  <link href="/styles/auth.css" rel="stylesheet">
</head>
<body>

<div class="form_card">
  <div class="form_name">Login</div>

  <div class="error" th:if="${param.error}">Error</div>
  <form th:method="POST" th:action="@{/login}" id="reg_form">

    <div class="input_container">
      <label for="email">Email: </label>
      <input class="input_field" type="text" name="email" id="email">
    </div>

    <div class="input_container">

      <label for="reg_password">Password: </label>
      <input class="input_field" type="password" name="password" id="reg_password" >
    </div>

    <a th:href="@{/users/register}" class="to_other_form">No account? Register</a>

    <input type="submit" class="submit_button" value="Login" >

  </form>
</div>


</body>
</html>